body {
    margin: 0 auto;
    font-family: "Century Gothic";
    background-image: url("images/hotel1.1.jpg");
    background-repeat: round space;
    background-attachment: fixed;
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: lightcyan;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.closeSigInButton {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.closeSigInButton:hover,
.closeSigInButton:focus {
    color: red;
    cursor: pointer;
}
.closeLoginButton {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.closeLoginButton:hover,
.closeLoginButton:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
/* Header/logo Title */
.header {
    padding: 15px;
    font-size: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.84);
    color: black;
}
#navbarLogin {
    overflow: hidden;
    text-align: right;
    background-color: rgba(255, 235, 205, 0.9);
    /*z-index:2;*/
}
#navbarLogin a {
    float: none;
    display: inline-block;
    /*color: #f2f2f2;*/
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#navbarLogin a:hover {
    background-color: #ddd;
    color: black;
}

#navbar {
    overflow: hidden;
    text-align: center;
    background-color: rgba(255, 235, 205, 0.9);
    z-index:2;
}

#navbar a {
    float: none;
    display: inline-block;
    /*color: #f2f2f2;*/
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: blue;
    color: white;
}
h2{
    font-size: 18px;
}
.app-title {
    margin: 20px auto;
    /*width: 300px;*/
    color: khaki;
    font-size: 26px;
    margin-left: 160px;
}
.userInfo-form{
    margin-left: 125px;
    color: khaki;
    font-weight: bold;
    font-size: 20px;
}
.options{
    position: absolute;
    bottom: 10px;
    top: 300px;
    left: 70px;
    width: 800px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.77);
}
.comboboxRoomType{
    color: black;
    background-color: blanchedalmond;
    font-size: 20px;
}

.searchRoomsButton {
    display: inline-block;
    border-radius: 4px;
    background-color: darkorange;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.searchRoomsButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.searchRoomsButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.searchRoomsButton:hover span {
    padding-right: 25px;
}

.searchRoomsButton:hover span:after {
    opacity: 1;
    right: 0;
}
.view_content {
    z-index: 1;
    text-align: -webkit-center;
    margin: 10px;
    margin-top: 70px;
    margin-left: 1100px;
}

.view_content1 {
    background-color: rgba(245,245,245,0.8);
    float: left;
    border: 2px solid #0000cc;
    padding: 15px;
    margin: 15px;
}

.view_content caption {
    font-size: 24pt;
    color: black;

}

.view_content th {
    color: #039;
    padding: 5px ;
    font-size: 18pt;
    font-weight: bolder;
}

.view_content td {
    color: black;
    border-top: 1px solid #e8edff;
    padding: 5px;
    font-size: 16pt;
    font-weight: bold;

}

.view_content tr:nth-child(2n) {
    background: rgba(237, 203, 100, 0.8);

}

.view_content tr{
    background: #def5b3;

}

.view_content td .button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: auto;
    height: 45px;
    padding: 0 5px;
    line-height: 45px;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
}

.view_content td .button:hover{
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    color: white;
    transform: translateY(-7px);
}